<!DOCTYPE html>
<html>
    
    <head> <!-- Style, script and meta-data --> 
        <link rel='stylesheet' href='style.css' /> <!-- 2 Opciones para el style: here Style-line or usar CSS-->
        <title>Amaz0n</title> <!--Titulo para pestaña  --> 
    </head>

    <body>
        <div class= "grid-container">
            <header class="header">
                <div class="brand">
                    <a href="index.html">Amaz0n</a>
                </div>
                <div class="header-links">
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Sign In</a>
                </div>
            </header>
            <!-- <aside>Shopping category </aside>  sidebar: menu lateral -->
            <main class= "main">
                <ul>
                    <li>Product 1</li>
                    <li>Product 2</li>
                    <li>Product 3</li>
                    <li>Product 4</li>
                    <li>Product 5</li>
                </ul>
            </main> <!-- main section-->
            <footer class="footer">All right reserved </footer>
        </div>
    </body>

</html>