html {
    font-size: 62.5%; /* 16px *62.5 = 10px = 1rem The default font-size in the browser is 16px. So if we multiply that by 62.5% is equal to 10px iqual to 1rem.*/
    box-sizing: border-box; /* Helps us to better format boxes with paddings and margins */
}

body{
    font: 1.6rem Verdana;
    height: 100vh ; /*Viewport height*/
    margin: 0;
}

.grid-container { /*We definine a new class, that's why we use dot. Grid:cuadricula */
    display: grid;  /* layouting the style in the html file */
    grid-template-areas: /* definimos las areas */
    "header"
    "main"
    "footer" ;
    grid-template-columns: 1fr ;  /*solo una columna*/
    grid-template-rows: 5rem 1fr 5rem; /* 3 lineas : header - main - footer*/
    height: 100%;
} 
.header{
    grid-area: header;
    background-color: #203040;
    color: #ffffff;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem; /*separacion lateral de los bordes */

}
.brand a{
    color: #ffffff;
    font-size: 2.5rem;
    font-weight: bold;
    text-decoration: none; /* rid off the underline */
}

.header-links a{
    color: #ffffff;
    text-decoration: none;
}

.header-links a:hover{ /*hover viene a ser el puntero o señalador*/
    color: #ff8000;

}
.main{
    grid-area: main;
}
.footer{
    grid-area: footer;
    background-color: #203040;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
